h3 {
    color: red;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: #2d2d7f !important;*/
}

.main-header {
    position: fixed;
    top: -10px;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #2d2d7f !important;
    background: #000000 !important;
}

#PlaceDesk_Logo {
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding: 50px;*/
}